@model ProHub.Domain.Dtos.Accounts.LoginDto
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LoginLayout";
}

<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/assets/media/illustrations/sketchy-1/14.png">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <!--begin::Logo-->
            <a href="~/Home/Index" class="mb-12">
                <img alt="Logo" src="/assets/media/logos/logo-1.svg" class="h-40px" />
            </a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                <!--begin::Form-->
                <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" asp-action="Login" asp-controller="Account">
                    <!--begin::Heading-->
                    <div class="text-center mb-10">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-3">@Loc.L("Login")</h1>
                        <!--end::Title-->

                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class=" mb-10">
                        <!--begin::Label-->
                        <label class="form-label fs-6 fw-bolder text-dark">@Loc.L("Email")</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control form-control-lg form-control-solid " type="email" required="" placeholder="Test@gmail.com" asp-for="Email" autocomplete="off">
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class=" mb-10">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-stack mb-2">
                            <!--begin::Label-->
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">@Loc.L("Password")</label>
                            <!--end::Label-->
                            <!--begin::Link-->
                            <a href="../../demo14/dist/authentication/layouts/basic/password-reset.html" class="link-primary fs-6 fw-bolder">@Loc.L("ForgetPassword")</a>
                            <!--end::Link-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Input-->
                        <input class="form-control form-control-lg form-control-solid" type="password" autocomplete="off" placeholder="*********" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center">
                        <!--begin::Submit button-->
                        <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                            <span class="indicator-label">@Loc.L("Login")</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <!--end::Submit button-->

                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->
        <div class="d-flex flex-center flex-column-auto p-10">
            <!--begin::Links-->
            <div class="d-flex align-items-center fw-bold fs-6">
                <a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
                <a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
                <a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
            </div>
            <!--end::Links-->
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Authentication - Sign-in-->
</div>
@*<div class="row">
    <div class="col-xl-7"><img class="bg-img-cover bg-center" src="~/assets/images/login/2.jpg" alt="looginpage"></div>
    <div class="col-xl-5 p-0">
    <div class="login-card">
    <div>
    <div>
    <a class="logo text-start" href="index.html">
    <img class="img-fluid for-light" src="~/assets/images/logo/login.png" alt="looginpage">
    <img class="img-fluid for-dark" src="~/assets/images/logo/logo_dark.png" alt="looginpage">
    </a>
    </div>
    <div class="login-main">
    <form class="theme-form" asp-action="Login" asp-controller="Account">
    <h4>@Loc.L("Login")</h4>
    <p>Enter your email & password to login</p>
    <div class="form-group">
    <label class="col-form-label">@Loc.L("Login")</label>

    <input class="form-control" type="email" required="" placeholder="Test@gmail.com" asp-for="Email">
    <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label class="col-form-label">@Loc.L("Password")</label>
    <div class="form-input position-relative">
    <input class="form-control" type="password" required="" placeholder="*********" asp-for="Password">
    <span asp-validation-for="Password" class="text-danger"></span>


    </div>
    </div>
    <div class="form-group mb-0">
    <div class="checkbox p-0">
    <input asp-for="RememberMe" type="checkbox">
    <label class="text-muted" for="RememberMe">@Loc.L("RememberMe")</label>
    </div>
    <button class="btn btn-primary btn-block w-100" type="submit">@Loc.L("Login")</button>
    </div>

    </form>
    </div>
    </div>
    </div>
    </div>
    </div>*@
@section Scripts {

<!--begin::Page Custom Javascript(used by this page)-->
@*
*@
<!--end::Page Custom Javascript-->
		@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
@*<script src="/assets/js/custom/authentication/sign-in/general.js"></script>
*@}